html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* button {
  background-color: white;
  border: 1px solid #efefef;
  padding: 4px;
  border-radius: 4px;
} */

ul {
  margin: 0;
  padding: 0;
}
